<div class="container"> 

<form action="/main/create" method="get" class="d-flex justify-content-center">

  <label for="fname" class="form-label">username</label>
  <input type="text" id="login" name="login"><br><br>

  <label for="lname">password</label>
  <input type="text" id="password" name="password"><br><br>
  
  <input type="submit" value="Submit" class="btn btn-primary">

</form>

</dev>